@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #164592;
  --secondary-color: #101928;
  --secondary-color-hover: #1d2739;
}
.nav-list li:hover {
  background-color: var(--secondary-color-hover);
}
